.translators-info table {
	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	border-spacing: 0;
	margin: .7em 0 1.5em;
	width: 100%;
}

.translators-info th {
	background: #ccc;
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
	padding: 6px 15px;
}

.translators-info td {
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
	padding: 6px 15px;
}


.label.latest {
	color: #468847;
}
.label.minor-behind {
	color: #F7D708;
}
.label.major-behind-one {
	color: #E6A45A;
}
.label.major-behind-many {
	color: #e38587;
}


.version.latest {
	background: #d2e7ca;
}
.version.minor-behind {
	background: #fef0c1;
}
.version.major-behind-one {
	background: #E3AE85;
}
.version.major-behind-many {
	background: #e38587;
}