.translators-info table {
	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	border-spacing: 0;
	margin: .7em 0 1.5em;
	width: 100%;
}

.translators-info th {
	background: #ccc;
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
	padding: 6px 15px;
}

.translators-info td {
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
	padding: 6px 15px;
}


.i18n-label.latest {
	color: #468847;
}
.i18n-label.minor-behind {
	color: #F7D708;
}
.i18n-label.major-behind-one {
	color: #E6A45A;
}
.i18n-label.major-behind-many {
	color: #e38587;
}


.version.latest {
	background: #d2e7ca;
}
.version.minor-behind {
	background: #fef0c1;
}
.version.major-behind-one {
	background: #E6A45A;
}
.version.major-behind-many {
	background: #e38587;
}



.validators {
	list-style: none;
	overflow: hidden;
	padding: 0;
}
.validators li {
	float: left;
	height: 85px;
	padding-bottom: 15px;
	width: 280px;
}
.validators .gravatar {
	float: left;
	margin: 0 10px 10px 0;
	padding: 2px;
}
.validators a.web {
	display: block;
	margin: 6px 0 2px;
	font-size: 16px;
	text-decoration: none;
}